div {
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px solid black;
    border-radius: 10px;
    padding-top: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
}
 h1 {
    /* border-width: 2px;
    border-style: dashed;
    border-color: green; */
    border: 2px dashed green;
    /* border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px; */
    background-color: yellow;
    padding: 10px 25px;
    /* padding: 10px 20px 30px 40px; */
 }